.logo {
  @include font(26px, 1.19, 700, 0.03em); 
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    transition: color var(--transition-value);
    &__dark {
      color: #000000;
    }
    &__light {
      color: var(--second-accent-color);
    }
  }