.logo {
  @include font(24px, 1.19, 700, 0.03em); 
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    transition: color var(--transition-value);
    @include mq(desktop){
      font-size: 26px;
    }
   
      
    &__dark {
      color: #000000;
      }
    
    &__light {
      color: var(--second-accent-color);
      justify-items: center;
    }
  }
 