.socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;}
  .socials__item{
    width: 44px;
    height: 44px;
  }
  .socials__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-bgrd-color);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--main-icon-color);
    transition: background-color  var(--transition-value),
      fill  var(--transition-value);
      &:hover,
      &:focus {
        fill: var(--second-accent-color);
        background-color: var(--accent-color);
      }
      &--footer{
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--main-bgrd-color);
      }
  }
  