body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bgrd-color);
    color: var(--second-main-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;

    @include mq(mobile) {
      width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(tablet) {
      width: 768px;
  }
    @include mq(desktop) {
      width: 1200px;
  }
}
  .section {
    padding: 60px 0px;
    @include mq(desktop){
      padding: 94px 0px;
    }
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    transition: color var(--transition-value);
  }
  a:hover,
  a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
 
  .section__title {
    @include font(28px, 1.17, 700);
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-title-color);
    @include mq (desktop){
      @include font(36px, 1.16, 700);
    margin-bottom: 50px;
    }
  }

  