body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bgrd-color);
    color: var(--second-main-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding: 94px 0px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    transition: color var(--transition-value);
  }
  a:hover,
  a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
 
  .title {
    @include font(36px, 1.16, 700);
    margin-bottom: 50px;
    text-align: center;
    color: var(--main-title-color);
  }