body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bgrd-color);
    color: var(--second-main-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding: 94px 0px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  a:hover,
  a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  button:hover,
  button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }