:root {
    --main-title-color: #212121;
    --second-main-color: #757575;
    --accent-color: #2196f3;
    --second-accent-color: #ffffff;
    --main-bgrd-color: #ffffff;
    --second-bgrd-color: #f5f4fa;
    --main-icon-color: #afb1b8;
    --transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }