.section--no-padding-top{
  padding-top: 0px;}
.about {
  display: flex;
  flex-wrap: wrap;
  }
.about__item {
  position: relative;
  &:not(:last-child) {
  margin-right: 30px;
  }
  }
 
.about__top-text {
  @include font(14px, 1.14, 700); 
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  bottom: 0px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--second-accent-color);
  width: 370px;
  height: 70px;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  }
  
