
  
  .benefits {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
  }
  .benefits__icon-container {
    width: 100%;
    height: 120px;
    background-color: var(--second-bgrd-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  
  .benefits__title {
    @include font(14px, 1.14, 700); 
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-top: 0px;
    margin-bottom: 0px;

    @include mq (mobile-only ){
      text-align: center;
    }
  }
  .benefits__item {
    @include mq (tablet){
      flex-basis: calc((100% - 30px) / 2);
    }
    @include mq(desktop){
    flex-basis: calc((100% - 90px) / 4);}
  
  }
 
  .benefits__text {
    @include font(14px, 1.71); 
    margin-top: 10px;
  }
