.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
  .address {
    margin-top: 20px;
  }
  .address__item {
    @include font(14px, 1.71); 
   
    font-style: normal;
    
  }
 
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__link{
    color: rgba(255, 255, 255, 0.6);
  }
  .address__link--address{
    color: var(--second-accent-color);
  }
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  
  .join {
    margin-left: 70px;
   
  }
  .footer__title {
    @include font(14px, 1.14, 700); 
    text-transform: uppercase;
    color: var(--second-accent-color);
  }
  .footer__title--subscribe {
    margin-bottom: 20px;
  }
  
  .subscribe__input {
    @include font(16px, 1.25); 
    min-width: 358px;
    height: 50px;
    padding: 15px 0px 15px 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    color: var(--normal-color);
    transition: border-color var(--transition-timing);
  }
  .subscribe__input:hover,
  .subscribe__input:focus {
    border: 1px solid #2196f3;
  }
  .subscribe__input::placeholder {
    @include font(16px, 1.25); 
    color: rgba(255, 255, 255, 0.6);
  }
 
  
  
  .subscribe__form {
    display: flex;
    gap: 12px;
   
  }
  .footer__form{
     margin-left:  auto;
  }






