.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__item:not(:last-child) {
    margin-right: 8px;
  }
  }
  
  

  .gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
    &__link {
      display: block;
      transition: color  var(--transition-value),
        box-shadow  var(--transition-value);
      &:hover,
      &:focus {
      color: inherit;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
    &__pre-title {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--main-title-color);
    }
    &__text {
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: var(--second-main-color);
    }
    
    &__box {
      padding: 20px 24px 20px 24px;
      border: 1px solid #eeeeee;
      border-top: none;
    }
    &__wrap {
      position: relative;
      overflow: hidden;
    }
    &__top-text {
      position: absolute;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: 0.03em;
      color: var(--second-accent-color);
      background: rgba(33, 150, 243, 0.9);
      top: 0px;
      left: 0px;
      padding: 63px 24px;
      height: 100%;
      transform: translateY(100%);
      transition: transform  var(--transition-value);
      .gallery__link:hover &,
      .gallery__link:focus & {
    transform: translateY(0%);
    }
    }
  }
  
  