.team {
    background-color: var(--second-bgrd-color);
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: calc((100% - 90px) / 4);
      background-color: var(--normal-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      &:not(:last-child) {
        margin-right: 30px;
      }
     
    }
   &__box {
    padding: 30px 0px;
    background-color: var(--main-bgrd-color);
  }
  &__pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
  }
  &__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  }

 
 
  
 
  